@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8e680;
  color: #6098ff;
  font-family: sans-serif;
  font-size: 16px;
}

main {
  flex-grow: 1;
}

.tareasFuente {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: rgb(16, 16, 181);
}
